			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Users</strong> List</h1>

				<div class="row">
						<div class="col-12 col-lg-12 col-xxl-12 d-flex">
							<div class="card flex-fill">
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Name</th>
											<th class="d-none d-xl-table-cell">Email</th>
											<th class="d-none d-md-table-cell">Actions</th>
										</tr>
									</thead>
									<tbody>
										{{#each users}}
										<tr>
											<td class="text-success"><b>{{this.Name}}</b></td>
											<td class="d-none d-xl-table-cell">{{this.Email}}</td>
											   <td class="d-none d-md-table-cell">
										      <a href="/admin/banusers?id={{this._id}}"  class="p-2 bg-warning m-1" data-toggle="tooltip" data-placement="top" ><i class="align-middle" data-feather="eye-off" onclick="return confirm('are you sure to Ban {{this.name}}?')">Ban User</i></a>
												<a href="/admin/delete-user?id={{this._id}}" class="p-2 bg-danger m-1"  data-toggle="tooltip" data-placement="top" ><i class="align-middle" data-feather="delete" onclick="return confirm('are you sure to Delete {{this.name}}?')">Delete User</i></a>
											</td>
										</tr>
										{{/each}}
										
									</tbody>
								</table>
							</div>
						</div>
					


				</div>
			</main>

			