<main>

  <div class="slider-area">
    
    <div class="slider-active">
      <div
        class="single-slider slider-height d-flex align-items-center"
        data-background="assets/img/hero/status.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-9 col-md-10">
              <div class="hero__caption">
                <h1>Find your dream job here....</h1>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xl-8">
              
              <a href="/getjob" class="btn btn-primary">Explore Jobs -></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section class="featured-job-area feature-padding">
    <div class="container">
     
      <div class="row">
        <div class="col-lg-12">
          <div class="section-tittle text-center">
            <span>Recent Job</span>
            <h2>Featured Jobs</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-10">
          
          {{#each jobs}}
            <div class="single-job-items mb-30">
              <div class="job-items">
                <div class="company-img">
                  <a href="/jobdetails/{{this._id}}">
                  <img src="../../jobImage/{{this._id}}.jpg"
                      alt="company-logo"
                      style="width: 100px;height: 100px;"
                    /></a>
                </div>
                <div class="job-tittle">
                  <a href="/jobdetails/{{this._id}}"><h4
                    >{{this.jobtitle}}</h4></a>
                  <ul>
                    <li><i class="fas fa-globe"></i>{{this.compame}}</li>
                    <li><i
                        class="fas fa-map-marker-alt"
                      ></i>{{this.companylocation}}</li>
                  </ul>
                  <ul class="mt-1">
                    <li><i class="fas fa-language"></i>{{this.language}}</li>
                    <li><i class="fas fa-clock"></i>{{this.timeSchedule}}</li>
                  </ul>
                </div>
              </div>
              <div class="items-link f-right">
                <a href="/jobdetails/{{this._id}}">View Details</a>
                <span>Created On: {{this.createdAt}}</span>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
 
  <div
    class="apply-process-area apply-bg pt-150 pb-150"
    data-background="assets/img/gallery/how-applybg.png"
  >
    <div class="container">
     
      <div class="row">
        <div class="col-lg-12">
          <div class="section-tittle white-text text-center">
            <span>Apply process</span>
            <h2> How it works</h2>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-process text-center mb-30">
            <div class="process-ion">
              <span class="flaticon-search"></span>
            </div>
            <div class="process-cap">
              <h5>1. Search for job</h5>
              <p>Find your dream job</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-process text-center mb-30">
            <div class="process-ion">
              <span class="flaticon-curriculum-vitae"></span>
            </div>
            <div class="process-cap">
              <h5>2. Apply for job</h5>
              <p>Apply here and wait for the recruiter to connect you</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-process text-center mb-30">
            <div class="process-ion">
              <span class="flaticon-tour"></span>
            </div>
            <div class="process-cap">
              <h5>3. Get your job</h5>
              <p>If your skills matches with the job position,then job is already yours</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>